:root {
  --default-background: rgb(168, 168, 168);
  --default-background-dark: rgb(94, 94, 94);
  --button-background: transparent;
  --button-active-hover-background: rgb(219, 215, 215);
  --button-inactive-hover-background: transparent;
  --blood-color: rgb(146, 5, 5);
  --container-color: rgb(73, 73, 73);
  --textarea-color: rgb(168, 168, 168);
  
}