:root {
  --primary-color: rgb(40, 206, 40);
  --secondary-color: rgb(35, 169, 35);
  --background-color: rgb(46, 46, 46);
  --background-color-dark: rgb(24, 24, 24);
  --font: "Courier New", Courier, monospace;
}